* {
    /*border: 1px solid black;*/
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    display:flex;
    height:fit-content;
}

.footer-third {
    flex-direction:column;
}

.header {
    width: 100%;
    display: flex;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
    position: fixed;
    top: 0;
}

.footer {
    width: 100%;
    display: flex;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
    position: fixed;
    bottom:0;
}

.inner-footer {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.inner-footer .logo-container {

    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner-footer .logo-container img{

    width: 65px;
    height: auto;
}

.inner-footer .footer-third {
    width: calc(21.6666666667% -20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner-footer .footer-third:last-child{
    margin-right:0;
}

.inner-footer .footer-third h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color :white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 200;
}

i {
    width:fit-content;
    height:auto;

}

li {
    display: inline-flex;
}

.circle{
    width:100px;
    height:100px;
    border-radius: 50%;

}
